.idea/
CMakeLists.txt
Node.o
NodesFactory.o
main
main.o
*.png
przyklady.txt
ranking*
*.svg
skrypt*
paths/
output/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
/CMakeFiles/
/plain
/rank_euklides.gnumeric
/nbproject/
