.idea/
CMakeLists.txt
Node.o
NodesFactory.o
main
main.o
*.png
przyklady.txt
ranking*
*.svg
skrypt*
paths/
plain
*.gnumeric
/compile_commands.json
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
nbproject/